header{

}
header div.flex{

  justify-content: space-between;
}
header div.flex h5{

  transform: translateX(40px);
}
header div.flex ul{
  margin: 0 auto;
 
}
header div.flex ul li{

  padding-right:100px;
  
}
header div.flex ul li a{
  
}