section#news {
  a: c;
}
section#news div {
  a: c;
}
section#news div h2 {
  a: c;
}
section#news div ul {
  a: c;
}
section#news div ul li {
  a: c;
}
section#news div ul li a {
  a: c;
}
section#news div ul li a p {
  a: c;
}
section#news div ul li a span {
  a: c;
}